@import '../../../styles/variables.scss';

html {
  background-color: #fafafa;

  .line {
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    @include flexSort(flex, center, center);
    margin-top: 50px;
    flex-direction: column;

    .westagram {
      font-family: 'Lobster', cursive;
      font-size: 50px;
      font-weight: lighter;
      padding-bottom: 40px;
      margin-top: 30px;
    }

    .idpasswordbutton {
      justify-content: space-evenly;
      .id {
        padding: 9px;
        font-size: 13px;
        border: 1px solid #8e8e8e;
        background-color: #fafafa;
        border-radius: 2px;
        width: 250px;
        color: #8e8e8e;
      }
      .password {
        padding: 9px;
        font-size: 13px;
        border: 1px solid #8e8e8e;
        background-color: #fafafa;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 2px;
        color: #8e8e8e;
      }
      .button {
        color: white;
        background-color: #c0dffd;
        border: none;
        width: 270px;
        padding-top: 10px;
        border-radius: 4px;
        padding-bottom: 8px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
      }
      .or {
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #8e8e8e;
        flex-basis: 100%;
        margin: 8px 0px;
        top: -15px;
        display: flex;
        justify-content: center;
      }
      .or ::before,
      .or ::after {
        content: '';
        flex-grow: 1;
        margin: 0px 16px;
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        color: #8e8e8e;
      }

      .facebook {
        color: #385085;
        font-weight: bold;
        margin-top: 20px;
        font-size: 15px;
        @include flexSort(flex, center, center);
      }

      .gotopassword {
        font-size: 10px;
        padding-top: 10px;
        padding-top: 20px;
        margin-bottom: 20px;
        @include flexSort(flex, center, center);
      }
    }
  }

  input {
    width: 100%;
    border: none;
    display: flex;
  }

  .sign {
    border: 1px solid #dbdbdb;
    margin: 30px;
    background-color: white;
    width: 352px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    @include flexSort(flex, center, center);
    .singup {
      color: #6fbaf9;
    }
  }
  a {
    text-decoration: none;
  }
}
